[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==19.10b0"
pytest = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
jupyter = "*"
sklearn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
start = "python open-sir.py"
lint = "pylint **/*.py"
test = "pytest"
